lyft_dataset_sdk
networkx>=2.2,<2.3
numpy
nuscenes-devkit
plyfile
scikit-image
tensorboard
trimesh>=2.35.39,<2.35.40
numba==0.53.0
mmcv-full==1.6.2
mmdet==2.25.2
mmsegmentation==0.29.0
pytorch-lightning==1.6.0